body {
    width: 100vw;
    background-color:$background-main-color;
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }

.container{
  display: grid;
  grid-template-columns: 190px 11fr;
  grid-template-rows: 50px 1fr 1fr;
  grid-column-gap: 0.2%;
  grid-template-areas:
  "sidebar navbar"
  "sidebar main-content";
}

.sidebar{
  grid-area: sidebar;
}    

.navbar{
  margin: 0;
  grid-area: navbar;
}

.main-content{
  grid-area: main-content;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  //overflow-y: scroll;
}
