body {
    width: 100vw;
    background-color:$background-main-color;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }

.wrapper{
  display: flex;
  height: 100vh;   
  //margin: 0px;  
}
/*.column{
  height: 100vh; 
  display: flex;
  flex-direction: column; 
}

/*#left {
  //flex:20%;
  //flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
/*}
//#right{
  //display: grid;
  flex: 80%;
}*/


.container {//main-content
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-sm-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.col-sm-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-sm-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-sm-5 {
  flex: 0 0 41.667%;
  max-width: 41.667%;
}
.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-sm-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-sm-8 {
  flex: 0 0 66.667%;
  max-width: 66.667%;
}
.col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-sm-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.col-sm-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
  }
}
@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}
@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}