/* Colors */
$paragraph-color:#808080;
$brand-main-color: #ff0000;
$background-main-color:  #f5f5f2;//light
$background-sidebar:#302e2e; //almost black
$background-navbar: rgb(255, 254, 254);//almost white
$grey-hover: rgb(61, 59, 59);//dark

$grey-font: #e3e3e3; //light grey 
$orange: #FF9A38; //orange, button
$green: rgb(57, 235, 72);
$blue: rgb(57, 208, 235);

$filter-sidebar: invert(94%) sepia(0%) saturate(130%) hue-rotate(190deg) brightness(102%) contrast(85%);
$filter-navbar:invert(52%) sepia(12%) saturate(23%) hue-rotate(4deg) brightness(94%) contrast(85%);

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/*transition*/
$transition: all 0.5s ease;
