.main-content {
      margin-top: 90px;   
         
}
.container-fluid{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $paragraph-color;
    flex-grow: 1;
    //overflow-y: auto;
    
   }
.main-content_title{
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 46px;
    background-color:$background-navbar;

   h2{
        padding-left: 5px;
        font-size: $paragraph-font-size;
    }    
}
.main-content_date{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:$background-navbar;
    input{
        margin: 3px;
        opacity:0.5;
    }  
    .button{
        min-width: 40px;
        height: 40px;
        background-color: $orange;
        border-radius: 5px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        margin-left: 10px;
        cursor: pointer;
        .icon{
            margin-right: 16px;
            opacity:0.5;
        }
            
        &:hover {
          background-color: #ffa200;
        }
    }
}
.main-content_statistics{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:$background-navbar;
}
.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  
  .scroll-wrapper .table {
    width: 100%;
    max-width: 100%;
    margin: 15px;
  }
  .table-row{
    margin: 0 auto;
    display:flex;
    justify-content: center;
    .cell{
    display:inline-flex;
    justify-content: space-between;
    width: 250px;
    border-bottom: 2px solid #e3e3e3;
    margin: 15px;
    .name{
        font-weight: bold;
    }
    }
  }
  .earnings{
    width: 100%;
    height: 46px;
    display:flex;
    justify-content: center;
    align-items: center;
    p{
    font-weight: bold;
    font-size: $paragraph-font-size;
    padding:20px;
    }
  }
    .earnings-indicators{
        display: flex;
        justify-content: center;
        align-items: center;
        .dot-wrapper{
          position: relative;
          margin:10px;
          .dot {
            height: 15px;
            width: 15px;
            background-color:$green;
            border-radius: 50%;
            position:absolute;
            margin-left: 15px;
            margin-top:15px;
            z-index:20;
          }
        }
    }
    .graph{
      position: relative;
      width: 100%;
      width: 600px;
      //height: 100vh;
      margin: 0 auto;
      #myChart{
        width: 1000px;
        height: 500px;
      }
    }