.main-content {
      margin-top: 90px;          
}
.container-fluid{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $paragraph-color;
    flex-grow: 1;
}
.main-content_title{
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 46px;
    background-color:$background-navbar;
   h2{
      padding-left: 5px;
      font-size: $paragraph-font-size;
    }    
}
.main-content_date{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:$background-navbar;
  
    input[type="date"]{
        margin: 3px;
        opacity:0.5;
        padding: 5px 10px;
    }  
    .button-refresh{
        .icon{
          margin-right: 16px;
          opacity:0.5;
        }            
        &:hover {
          background-color: #ffa200;
        }
    }
}
.main-content_statistics{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:$background-navbar;
}
.table {
  width: 100%;
  max-width: 100%;
  margin: 15px;
}

.table-row{
  margin: 0 auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  .cell{
  display:inline-flex;
  justify-content: space-between;
  width: 250px;
  border-bottom: 2px solid #e3e3e3;
  margin: 15px;
  }
}  
.name{
  font-weight: bold;
}
.earnings{
  width: 100%;
  height: 46px;
  display:flex;
  justify-content: start;
  align-items: center;
  p{
  font-weight: bold;
  font-size: $paragraph-font-size;
  padding:20px;
  margin-left:15px;
  }
}
.earnings-indicators{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .dot-wrapper{
    position: relative;
    margin:10px;
    .dot {
      height: 13px;
      width: 13px;
      border-radius: 50%;
      position:absolute;
      margin-left: 15px;
      margin-top:15px;
      z-index:2;
    }
    .dot-blue{
      background-color: $blue;
    }
    .dot-orange{
      background-color: $orange;
    }
    .dot-green{
      background-color: $green;
    }
    .button-grey{
      background-color: $background-main-color;
    }
  }
}
.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.graph{
position: relative;
width: 100%;
max-width: 100%;
margin: 0 auto;
  #myChart{
    margin-top: 20px;
  }
}
/*Section links*/
.links{
  margin-top:20px;
}
.main-content_links{
  width: 100%;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $grey-font;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color:$background-navbar;
  margin-bottom:20px;
}  
.button-add{
  background-color:$orange;
  color:$background-navbar;
  margin:20px;
  width:130px;
  font-weight: bold;
  &:hover {
    background-color: #ffa200;
  }
}
table {
  border-collapse: collapse;
  overflow:hidden;
  width:80%;
  border-top: 2px solid $grey-font;
}
tr{
  border-bottom: 2px solid $grey-font;
  height: 50px;
  &:hover{
    background-color:$grey-font;
  }
}
tr:hover td .icon{
  opacity:1;
  &:first-child{
    filter: $filter-orange;
  }
  &:last-child{
    filter: $filter-navbar;
  }  
}
td{
  padding:20px;
  a{
    color:$blue;
    &:hover {
      color:$orange;
    }
  }    
}
td .icon{
  opacity:0;
  margin-left:20px;
}

