.main-content {
      margin-top: 90px;      
}
.container-fluid{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $paragraph-color;
    flex-grow: 1;
    overflow-y: auto;
   }
.main-content_title{
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 46px;

   h2{
        font-size: $paragraph-font-size;
        padding-left: 5px;
    }    
}
.main-content_date{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    input{
        margin: 3px;
    }  
    .button{
        min-width: 40px;
        height: 40px;
        background-color: $orange;
        border-radius: 5px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        margin-left: 10px;
        cursor: pointer;
            
        &:hover {
          background-color: #ffa200;
        }
    }
}
.main-content_statistics{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey-font;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}