.navbar{
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100% - 195px);
    border: 1px solid #e3e3e3;
    background-color: red;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}