.navbar{
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 100vW;
    border: 1px solid  $grey-font;
    background-color:$background-navbar;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    color: $grey-hover;
    z-index:5;
    flex:100%;
}
.navbar_element a{
    display: flex;
    width: 184px;
    height: 60px;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    border-left: 1px solid $grey-font;
    padding: 20px;
    color: $grey-hover;
    span{
        font-size:18px;
        font-weight: bold;
        opacity: 0.5;
    }
    &:hover{
        background-color:$grey-font;
    }
    .profile-name{
        color:$blue;
        &:hover{
            color:$orange;
        }
    }
}

.navbar_button a{
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content:center;
    position: relative;
    padding: 20px;
    border-left: 1px solid  $grey-font;
    color: $grey-hover;
    &:hover{
        background-color:$grey-font;
    }
    .dot {
        height: 7px;
        width: 7px;
        background-color:$orange;
        border-radius: 50%;
        position:absolute;
        margin-left: 10px;
        margin-bottom: 10px;
        z-index:2;
    }
}

.icon-navbar{
    filter:$filter-navbar;
}
